.container{
      text-align: center;
      margin-top: 250px;
}

img{
      height: 100px;
      width: 300px;
}

.search{
      width: 640px;
      margin: 0 auto;
      border: 1px solid gray;
      border-radius: 25px;
}

.searchbar{
        width: 550px;
        font-size: 18px;
        border: none;
        height: 40px;
}



.middle{
     width: 50%;
}




h1{
  color: red;
}

